html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
caption, tfoot,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'Vazirmatn';
	src: url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2 supports variations'),
		url('../fonts/webfonts/Vazirmatn[wght].woff2') format('woff2-variations');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
  font-family: "MozillaTwemojiColr";
  src: url("https://cdn.jsdelivr.net/npm/twemoji-colr-font@^14/twemoji.woff2") format("woff2");
}

emoji-picker {
  --emoji-font-family: MozillaTwemojiColr;
}
body {
	background-color: #85FFBD;
	background-image: url("/image/wepik-export-20231008135903gFC0.png") ;
    background-size: cover;
	font-family: Vazirmatn,MozillaTwemojiColr;
}
.border-radius {

	border-radius: 10px;
	border-style: none;
	box-shadow: 0px 0px 5px 1px rgba(15, 15, 15, 0.2);
    background-color: whitesmoke;
}
.box-shadow{
	box-shadow: 0px 0px 5px 1px rgba(15, 15, 15, 0.1);
}
.page-container{
    box-sizing: border-box;
    
    height: 94vh;
    margin-left: 6vh;
    margin-right: 6vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: 1fr 2.7fr;
    grid-template-rows: 1fr  8fr 1fr;
    gap: 1vh;
    
}
.contact-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-column-start: 1;
    grid-column-end:  2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: whitesmoke;
}
.contact-header .title{
flex-grow: 8;
text-align: center;
font-size: large;

}
.contact-header .contact-search{
    flex-grow: 1;
    border: none;
    background: none;
    cursor: pointer;
}
.modal {
    grid-column-start: 1;
    grid-column-end:  2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: none; 
    position: relative; 
    overflow: hidden; 
    
  }
  .modal input{
    flex-grow: 7;
  }
  .modal i{
    flex-grow: 1;
  }
  /* The Close Button */
.close {
    flex-grow: 1;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.contact-header .add-contact{
    flex-grow: 1;
    border: none;
    background: none;
    cursor: pointer;
}
.contacts{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: whitesmoke;
}


.contacts table{
    margin: 2%;
    border-width: 5px;
    border-style: hidden;
    
}
.header-row {
  display: none;
}
.contacts tr{
    position: relative;
    height: 10px;
    
}
.contacts th,td{
    border-width: 5px;
    text-align: right;
    border-style: hidden;
    

}

.contacts .td-pic{
    width: 25%;
    
}
.contacts .td-message{
    opacity: 0.5;
}
.contacts .user-pic{
    filter: drop-shadow(0 0 0.2rem rgba(15, 15, 15, 0.5));
}
.contacts img{
    width: 100%;
    clip-path: circle();
    
}

.user-info{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    align-items: center;
}
.user-info img{
    margin: 0.5%;
    clip-path: circle();

}
.messages{
    grid-column: 2/3;
    grid-row: 2/3;
    overflow-y: scroll;
    --emoji-font-family: MozillaTwemojiColr;
}



.chat-input{
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    
}
.chat-input input{
    margin-right: 3%;
    flex-grow: 8;
    background: none;
    border: none;
    font-family: VazirMatn,MozillaTwemojiColr;

    
}
.emojiBtn{
  background: none;
  border: none;
}
#inputMessage::placeholder{
  padding-right: 1%;
}
#inputMessage:focus-visible
{
  border:none
}


.material-symbols-outlined {
    cursor: pointer;
    flex-grow: 2;
    color: #294d3a;
    align-self: center;
    justify-self: flex-start;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.tooltip{
  display: none;
}
.shown {
  display: block;
}
.right {
    margin: 0.5%;
    position: relative;
    background:whitesmoke;
    text-align: right;
    min-width: 5%;
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    float: right;
    right: 20px;
    
  }
 

  .right::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    right: -10px;
    border: 10px solid transparent;
    border-top: 10px solid #ccc;
  }
  
  .right::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    right: -8px;
    border: 10px solid transparent;
    border-top: 10px solid whitesmoke;
    clear: both;
  }
  
.left {
    margin: 0.5%;
    display: block;
    position: relative;
    background:rgb(219, 219, 219);
    text-align: left;
    min-width: 5%;
    max-width: 80%;
    padding: 10px 15px;
    border-radius: 6px;
    border: 1px solid rgba(245, 245, 245, 0.541);
    float: left;
    left: 20px;
    
  }
  
  .left::before {
    content: '';
    position: absolute;
    visibility: visible;
    top: -1px;
    left: -10px;
    border: 10px solid transparent;
    border-top: 10px solid rgba(245, 245, 245, 0.541);
  }
  
  .left::after {
    content: '';
    position: absolute;
    visibility: visible;
    top: 0px;
    left: -8px;
    border: 10px solid transparent;
    border-top: 10px solid rgb(219, 219, 219);;
    clear: both;
  }
  .fill-context {
    clear: both;
  }
  .sendBtn{
    background: none;
    border: none;
  }

  .displayNone{
    display: none;
  }
  
  
